li { 
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 
} 
.main {
    display: flex;
    justify-content: space-around
    ;
   

  
   
   
}
.text {
    display: flex;
    justify-content: space-around
    ;
    background-color: grey;
    background-image: 100px;
    margin: 100px;
}

.footer {
    
}